<div class="row">
  <div class="transparentWhite col-md-8 col-md-offset-2 col-sm-12 ">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <h3>Donations</h3>
      <p><span class="bold">First Pentecostal Church</span> is a 501(c)(3) charitable organization, and your donations are deductible to the full extent of the law.</p>
      <p>We use PayPal as our secure method of online giving. Please be advised that a small percentage of your donation will be deducted by PayPal to cover processing fees. If you do not wish to use a PayPal account, you can click the "Donate with a Debit or Credit Card" button, which allows you to donate without having or creating a PayPal account.</p>
      <h3>Thank you!</h3>
      <p>Your donation was successful. We are very thankful for your generous giving. God bless you!</p>
    </div>
  </div>
</div>