<div class="row">
    <div class="transparentWhite col-md-8 col-md-offset-2 col-sm-12">
        <h2>Gallery</h2>
        <div class="form-group has-feedback">
            <select class="form-control" id="gallerySelect" ng-change="gallery.changeGallery()" ng-model="gallery.selectedGallery" ng-options="g.Title for g in gallery.galleryList"></select>
        </div>
        <h5>{{gallery.selectedGallery.Description}}</h5>
        <div class="photoGrid">
            <gallery-tile class="photoCell" ng-repeat="slide in gallery.slides track by slide.Id"></gallery-tile>
        </div>
    </div>

    <div class="modal modal-wide fade" id="imageModal">
        <div class="modal-dialog modal-tall" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body modal-tall-body">
                    <div class="galleryContainer" ng-class="{'slideVisible': slide.Visible}" ng-repeat="slide in gallery.slides">
                        <h4 class="text-center">{{slide.Title}}</h4>
                        <img class="galleryImage img-center shadow" src={{slide.Link}} ng-click="gallery.plusSlides(1)"/>
                        <h5 class="text-center">{{slide.Description}}</h5>
                    </div>
                    <!-- Next/previous controls -->
                    <a class="prev link" ng-click="gallery.plusSlides(-1)">&#10094;</a>
                    <a class="next link" ng-click="gallery.plusSlides(1)">&#10095;</a>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>