
<div class="row">
	<div class="transparentWhite col-md-8 col-md-offset-2 col-sm-12">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div ng-include src="'../views/fireworksmenu/menu.html'"></div>
				</div>
			</div>
			<div class="bold">
			    <p>The spaces highlighted in <span class="red-text bold">red</span> are time slots where we need people. Please notify <a href="mailto:revabstew@gmail.com" target="_blank">Bro. Stewart</a>, <a href="mailto:djstew@bellsouth.net" target="_blank">Sis. Stewart</a>, or <a href="mailto:rich.hopkins@outlook.com" target="_blank">Rich Hopkins</a> of times that you can work, and they will <span class="bold">GLADLY</span> add you to the schedule. ;)</p>
			</div>
		</div>
		<div class="row">
			<iframe width="755" height="475" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=389A4C8DF0AA1509%215704&authkey=%21ABUPWtxJV3rLFsg&em=2&wdAllowInteractivity=False&ActiveCell='Sheet1'!A1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<p>
					If you are unable to view the schedule in this page, try this link: <a class="link" href="https://1drv.ms/x/s!AgkVqvCNTJo4rEg8BJ5-69Ujqryp?e=S1VquR" target="_blank">Schedule</a> (Probably better on phones and small tablets).
				</p>
			</div>
		</div>
	</div>
</div>
