<div class="row">
	<div class="transparentWhite col-md-8 col-md-offset-2 col-sm-12">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div ng-include src="'../views/fireworksmenu/menu.html'"></div>
				</div>
			</div>
			<h3>Starting Inventory</h3>
			<iframe width="500" height="750" frameborder="0" scrolling="yes" src="https://onedrive.live.com/embed?cid=389A4C8DF0AA1509&resid=389A4C8DF0AA1509%214373&authkey=AHjpAmpm9SsVEj8&em=2&wdAllowInteractivity=False&ActiveCell='Page%201'!A1&Item='Page%201'!A1%3AF100&wdHideGridlines=True&wdDownloadButton=True"></iframe>
			<div>If you are unable to view the inventory in this page, try this link: <a class="link" href="https://1drv.ms/x/s!AgkVqvCNTJo4ohVmbNr6vBzsx0uo" target="_blank">Inventory</a> (Probably better on phones and small tablets)</div>
		</div>
	</div>
</div>