<div ng-controller="Events">
	<p class="topMargin">
		Please download this flyer and print it, and then take it with you to either Five Below, in Buford or Gainesville. Thank you so much!
	</p>
	<a href="../../assets/5below.pdf" target="_blank" class="btn btn-primary btn-lg">Download Flyer</a>
	<img class="img-center topMargin"
			 src="../../assets/images/event-images/5b-500w.jpg"
			 srcset="../../assets/images/event-images/5b-500w.jpg 500w,
			 ../../assets/images/event-images/5b-1000w.jpg 1000w,
			 ../../assets/images/event-images/5b-1500w.jpg 1800w"
			 sizes="100vw"
			 alt="Five Below fundraiser flyer" />
 </div>