<div ng-controller="Events" class="topMargin">
	<h3>Cornhole Tournament!</h3>
	<p class="topMargin">
		Kingdom Youth Ministries is bringing us a Cornhole tournament! September 3, after service, join us for this fun tourney! Cost is $10 per team, and hot dogs and hamburgers will be available for additional purchase.
	</p>
	<img class="img-center" 
	     src="../../assets/images/cornhole-square-thumb-250w.jpg"
	     srcset="../../assets/images/cornhole-500w.jpg 500w, 
			 ../../assets/images/cornhole-1800w.jpg 1800w"
	     sizes="100vw"
	     alt="Cornhole Tournament!"/>
</div>