<div ng-controller="Events">
  <h3>Schedule for the Day: </h3>
  <ul class="noBullets">
    <li>8:30 AM - Ministry Prayer - Everyone is invited</li>
    <li>Church Work Day - Please come down and help us get ready for Christmas guests!</li>
    <li>4:00 PM - Kids Choir Practice</li>
    <li>5:00 PM - Adult Choir Practice</li>
  </ul>
  <p>Starting at 8:30 AM, there is a prayer session for our ministry participants. Since everyone should be participating in ministry, everyone is invited to come! After that, if you'd like to leave for breakfast and come back, this day is also scheduled for a work day, so come on down and help us get ready for Christmas visitors! At 4:00 PM, the kids choir will be practicing, and at 5:00 PM, the adult choir will take over the singing!</p>

</div>