<div class="row">
	<div class="transparentWhite col-md-8 col-md-offset-2 col-sm-12">
		<h2>Calendar</h2>
		<div class="row">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="http://bit.ly/1JoTRGZ"></iframe>
			</div>
			<p class="topMargin">
				If you have difficulty seeing this calendar on your device, try this link:
				<a href="https://outlook.live.com/owa//calendar/8836cbcf-7ce6-4384-b15d-2d74001605a3/cadcb2f1-ef0c-438a-923b-680bfac1b27e/cid-389A4C8DF0AA1509/index.html" target="_blank">FPC Calendar</a>
			</p>
		</div>
		<h2>Events</h2>
		<div class="row">
			<div class="col-md-12 col-sm-12 bodyContainer transparentWhite">
				<div ng-include src="'/views/events/vbs.html'"></div>
			</div>
		</div>
	</div>
</div>

	<!--<h2>Coming Soon!</h2>-->
	<!--Auction-->
	<!--<div class="topMargin Nov13">
		<h1 id="auction">Annual Christmas Auction!</h1>
		<img src="images/auction.png"/>
		<p class="topMargin">
			Our annual Christmas auction is coming up, and it will take place on November 12 at the Mulberry Creek Park and Community Center, located at 4491 J.M. Turk Road, Flowery Branch, GA 30542.
		</p>
		<p class="text-center">
			<a class="link" id="mulberryMapLink" href="https://binged.it/2emzLRM" target="blank">
				<span class="glyphicon glyphicon-map-marker"></span> Map it!
			</a> &nbsp; &nbsp;
			<a href="files/ChristmasAuction.ics"><img src="images/addToCalendar.jpg"/></a>
		</p>
		<h3 class="bold">
			<a class="link" href="https://www.facebook.com/events/1667635786880366/?active_tab=discussion" target="blank">
				<img src="images/facebook.png"/>
			</a>
			Click <a class="link" href="https://www.facebook.com/events/1667635786880366/?active_tab=discussion" target="blank">here</a> to visit the event on Facebook to see some of the things that will be auctioned!
		</h3>
		<p class="topMargin">
			Doors will open at 4:30 pm for previewing. Live bidding starts at 5:00 pm. There will also be a silent auction, raffles and door prizes. Concessions available. ALL NEW ITEMS!! Come join us and start your Christmas shopping early. There will be donation boxes available for the Hall County children in need. Come help support outreach efforts in your community. Items include Christmas decor for inside and outside your home, gift wrap, bows, wonderful gift ideas, household goods, tools, toys, bedding and so much more!!
		</p>
	</div>-->
	<!--<div class="topMargin Aug18">
		<h1 id="vbs">Vacation Bible School!</h1>
		<p class="topMargin">
			VBS will be taking place on Wednesday nights from 7:00 to 8:30 pm, starting July 20th, and running through August 17th. Kids aged 4-12 are welcome. More info coming soon, but be sure to mark your calendars!
		</p>
		<p class="text-center">
			<a href="files/VBS.ics"><img src="images/addToCalendar.jpg"/></a>
			<a class="link addressLink" href="map.html">
				<span class="glyphicon glyphicon-map-marker"></span> Map it!
			</a>
		</p>
		<img src="images/SOC Lord's Army.jpg"/>
	</div>

	<div class="topMargin">
		<h1 id="Endtime">Endtime Prophesy Series</h1>
		<p>
			This series was created by Irvin Baxter, of <a class="link" href="http://www.endtime.com" target="_blank">EndTime Ministries</a>. We are starting with a 14 video series, one video per week. If you are curious about what is coming, you won't want to miss this!
		</p>
		<p>There were approximately 100 prophecies given before the first coming of Jesus to the earth. He fulfilled every single one of those prophecies to the minutest detail. No one should have missed His first coming—but most people did because they didn’t know the prophecies. Today we are living just before the Second Coming of Jesus to the earth. We don’t have 100 prophecies; we have closer to 1,000 yet the scriptures tell us that most people will miss the Second Coming. Again, this will happen because people do not know the prophecies. This Understanding the Endtime series was designed to explain the prophecies of the endtime in easy-to-understand terms. After viewing Understanding the Endtime no one should miss the Second Coming of Jesus Christ.</p>
		<p>Please feel free to watch this preview.</p>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/9pTOnhlAj1U" frameborder="0" allowfullscreen></iframe>
		</div>

		<p class="topMargin">
			The lessons will start at 7:30 on Wednesday evenings, and will continue weekly. Here is a <a class="link" href="/files/Understanding EndTime Brochure for FPC.pdf" target="_blank">brochure</a> that you can download. Please feel free to share it.
		</p>
		<p class="text-center">
			<a class="link addressLink" href="map.html">
				<span class="glyphicon glyphicon-map-marker"></span> Map it!
			</a>
		</p>
	</div>

	<div class="topMargin july31">
		<h1 id="PrayerService">Community Prayer Service</h1>
		<p>First Pentecostal Church would like to invite all first responders - police officers, firefighters, paramedics and EMTs, and other emergency response workers - including their support staff and other government workers, to a prayer service that will be held on July 30 to pray for you. We hope that you will join us, as we pray for your safety and the Lord's guidance as you serve the public.</p>
		<p class="text-center">
			<a href="files/CommunityPrayerService.ics"><img src="images/addToCalendar.jpg"/></a>
			<a class="link addressLink" href="map.html">
				<span class="glyphicon glyphicon-map-marker"></span> Map it!
			</a>
		</p>
		<img src="images/CommunityPrayerService.jpg"/>
	</div>-->
	<!--<div class="col-md-10 col-md-offset-1 col-xs-12 bodyContainer opaque-dark white-text topMargin july5" id="fireworks-bg">
		<div class="transparentDark">
			<h1 id="Fireworks">Fireworks Sale Going on Now!!</h1>
			<p>
				<span class="lead topMargin">June 23<span class="super">rd</span> through July 4<span class="super">th</span></span> is our fireworks sale. We are running the stand in Oakwood in the Walmart parking lot (this year we are <strong>NOT</strong> doing the store in Flowery Branch). Come on down and do your fireworks shopping, and support First Pentecostal Church of Oakwood!
			</p>
			<p>
				We have the <span class="lead bold">BIG STUFF!</span> Mortars, bottle rockets, firecrackers, Roman candles, and more! Visit <a class="link link-light-blue" href="http://www.tntfireworks.com" target="_blank">www.tntfireworks.com</a> to get a $20 coupon good on a $100 purchase <span class="bold">(get the coupon for stands and tents)</span> and come on in to start the year with a <span class="lead bold">BOOM!</span>
			</p>
			<div class="transparentWhite padding12">
				<p>
					<a class="link" id="fireworksLinkO" href="http://binged.it/22phogH" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Oakwood - Map it!</a>
				</p>
			</div>
		</div>
	</div>-->
	<!--<p>
		<a class="link" id="fireworksLinkFB" href="http://binged.it/1TuxU9V" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Flowery Branch - Map it!</a>
	</p>-->
