<div ng-controller="Events" class="topMargin" id="fireworks-bg">
	<div class="transparentDark">
		<h3>Fireworks Sale Going on Now!!</h3>
		<p>
			<span class="lead topMargin">June 23<span class="super">rd</span> through July 4<span class="super">th</span></span> is our fireworks sale. We are running the stand in the Oakwood Walmart parking lot. Come on down and do your fireworks shopping, and support First Pentecostal Church of Oakwood!
		</p>
		<p>
			We have the <span class="lead bold">BIG STUFF!</span> Mortars, bottle rockets, firecrackers, Roman candles, and more! Visit <a class="link link-light-blue" href="http://www.tntfireworks.com" target="_blank">www.tntfireworks.com</a> to get a $20 coupon good on a $100 purchase <span class="bold">(get the coupon for stands and tents)</span> and come on in to start the year with a <span class="lead bold">BOOM!</span>
		</p>
		<div class="transparentWhite padding12">
			<p>
				<a class="link" id="fireworksLinkO" href="http://binged.it/22phogH" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Oakwood - Map it!</a>
			</p>
		</div>
	</div>
</div>