<div ng-controller="Events" class="topMargin">
	<h3 id="vbs">All Nations Sunday Dinner</h3>
	<p class="topMargin">
		Join us on August 13 after worship service for a taste of international cuisine, as we gather for our All Nations Sunday dinner. Bring a dish from your home country if you are from somewhere else, or pick a nation whose food you love and bring a dish from there! Sunday School is a 10:00 AM, Worship is at 11:20 AM.
	</p>
	<img class="img-center" 
	     src="../../assets/images/nations-dinner-thumb-250w.jpg"
	     srcset="../../assets/images/nations-dinner-thumb-250w.jpg 250w,
			 ../../assets/images/nations-dinner-thumb-800w.jpg 800w, 
			 ../../assets/images/nations-dinner-large-1200w.jpg 1200w,
			 ../../assets/images/nations-dinner-large-2000w.jpg 2000w"
	     sizes="100vw"
	     alt="First Pentecostal Church invites you to join us for All Nations Sunday, on August 13, 2017. Sunday School is at 10:00 AM, worship is at 11:20 AM, and a multicultural dinner will follow our worship service."/>
</div>