<div ng-controller="Events" class="topMargin">
	<h3>Vacation Bible School!</h3>
	<p class="topMargin">
		VBS is taking place on Wednesday nights from 7:00 to 8:30 pm, starting July 19th, and running through August 16th. Kids aged 4-12 are welcome. Music, games, Bible stories, food, crafts, and more! Be sure to mark your calendars!
	</p>
	<p class="text-center">
		<!--<a href="files/VBS.ics"><img src="images/addToCalendar.jpg"/></a>-->
		<a class="link" href="https://binged.it/2sVi3xx" target="_blank">
			First Pentecostal Church<br/>4805 Flat Creek Road<br/>Oakwood, GA 30542<br/>Map it!
		</a><br/>
		For transportation in the Oakwood area, please call 770-536-5132.
	</p>
	<img class="img-center" 
			 src="../../assets/images/vbs_thumb.png"
	     srcset="../../assets/images/vbs_thumb.jpg 500w, 
			 ../../assets/images/vbs_large.jpg 1800w"
	     sizes="100vw"
			 alt="VBS Image"/>
</div>