<div ng-controller="Events">
  <p class="topMargin">
    October 12-14, 2017
  </p>

  <p class="text-center">
    <a class="link" href="https://binged.it/2uDEObi" target="_blank">
      Solid Rock Pentecostal Church<br />4707 Washington Road<br />College Park, GA 30349<br />Map it!
    </a>
  </p>
  <p>Click here to <a href="http://www.worldnetworkofprayer.com/event/georgia-district-summons/" target="_blank">register.</a></p>

  <div class="col-md-7 col-xs-12">
    <h3>Schedule</h3>
    <ul class="noBullets">
      <li class="bold">Thursday</li>
      <li>2:00 PM - Prayer training / Prayer service</li>
      <li>7:00 PM - Evening preservice prayer</li>
      <li class="bold">Friday</li>
      <li>9:00 AM - Friday morning prayer service</li>
      <li>7:00 PM - Evening preservice prayer</li>
      <li>7:30 PM - Friday evening kids prayer service</li>
      <li class="bold">Saturday</li>
      <li>8:30 AM - Kids & youth prayer training (for adults)</li>
    </ul>
  </div>

  <div class="col-md-5 col-xs-12">
    <h3>Speakers</h3>
    <ul class="noBullets">
      <li>Darrell Johns</li>
      <li>Lee Stoneking</li>
      <li>Alonzo Terry</li>
      <li>Kathy Terry</li>
      <li>Lula Gholson</li>
      <li>Flo Shaw</li>
      <li>Colleen Clabaugh</li>
    </ul>
  </div>
</div>