
<div class="row">
    <div class="transparentWhite col-md-8 col-md-offset-2 col-xs-12">
        <div class="col-md-8 col-md-offset-2 col-xs-12">

            <div class="row">
                <div class="transparentWhite">
                    <h2>Notice</h2>
                    <p>Our services are being live streamed on YouTube. Additionally, we have weekday morning devotions and Wednesday evening service live streamed on Facebook, on our Facebook page, <a href="http://www.facebook.com/OakwoodFirstChurch" target="_blank">Oakwood First Church</a>. Please join us each weekday morning, as well as each Sunday and Wednesday. See our Sunday and Wednesday schedule below.</p>
                    <p>You can also find links and times to all the services on the calendar on our Events page in the menu.</p>
                    <h4>Sunday Services</h4>
                    <p>Our Sunday services can be found on our <a href="https://www.youtube.com/channel/UCulRkSioqxGB7GzioCiFE0w" target="_blank">YouTube channel</a> where we live stream them.</p>
                    <h4>Wednesday Night Bible Study</h4>
                    <p>Wednesday night Bible studies can be found on our <a href="http://www.facebook.com/OakwoodFirstChurch" target="_blank">Facebook page</a>, where we are currently live streaming them.</p>
                </div>
            </div>
            <div class="row">
                <div class="transparentWhite">

                    <h2>ANNOUNCEMENT</h2>
                    <p>Dear Church Family,</p>
                    <p>It is a high priority to make our church a safe, secure place for you and your family to worship. Due to the ongoing concern about the spread of COVID-19 (coronavirus), we believe it is prudent to exercise caution in a number of ways.</p>
                    <p>
                        The spread of illnesses like the flu and the coronavirus is something we take seriously. In addition to the safety measures we normally follow, we’re taking extra precautions during this time to help keep you and your family safe and healthy. These measures include the following procedures:
                        <ul>
                            <li>Sanitizing classrooms, bathrooms, and other high traffic areas before and after services.</li>
                            <li>Additionally, wiping down door handles, and other frequently touched surfaces.</li>
                        </ul>
                        I am closely following news from the Center for Disease Control and Prevention (CDC) about best practices to help contain the spread of sickness. We will update our policies and procedures with the latest information and communicate with you as necessary.
                    </p>
                    <p>
                        Of course, we need your help too. Here’s what you can do to keep yourself and others safe and healthy:
                        <ul>
                            <li>If you need to cough or sneeze, cover your mouth with a sleeve or tissue.</li>
                            <li>Wash your hands often in warm water for a minimum of twenty seconds and encourage your entire family to do the same. Our volunteers will ask children to wash their hands if they visit the restroom while they’re in our care.</li>
                            <li>Use hand sanitizer often.</li>
                            <li>If you or your family members are experiencing, or have recently experienced, symptoms associated with the flu or the common cold (fever, persistent cough, headache, chills, or unexplained rash), we ask that you stay home from church.</li>
                        </ul>Above all keep calm and take common-sense action to keep your self and family healthy. While we will not take unnecessary risks, we must also remember that we are people of faith and trust God during these seasons of uncertainty. Our God is sovereign, our protector, and our healer.
                    </p>
                    <p>
                        Sincerely,
                        <br />A. B. Stewart
                        <br />Pastor
                        <br />Oakwood First Church
                    </p>
                </div>
                <h2>Welcome!</h2>

                <p>Thank you for visiting our site! We are excited that you are taking this opportunity to look around and learn more about our church. We hope that you will plan to attend services with us! Check it out and come back soon!</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-xs-12">
                <p class="bold text-center">
                    Plan on attending services with us?<br />
                    Sunday School: 10:00 am<br />
                    Worship Service: 11:15 am<br />
                    Wednesday night Bible Study: 7:00 pm
                </p>
            </div>

            <div class="col-md-4 col-md-offset-1 col-xs-12">
                <a class="link" href="https://binged.it/2sVi3xx" target="_blank">
                    <p class="text-center">
                        We are located at:<br />
                        4805 Flat Creek Road<br />
                        Oakwood, GA 30566
                    </p>
                </a>
            </div>
        </div>

        <div class="verticalSpacer"></div>

        <div class="row block sideMargins">
            <a href="https://www.facebook.com/OakwoodFirstChurch/" target="blank"><img src="assets/images/facebook.png" /></a>
            Be sure to like our <a class="link" href="https://www.facebook.com/OakwoodFirstChurch/" target="blank">Facebook</a> page!
        </div>
    </div>
</div>

<div class="row">
    <div class="transparentWhite topMargin col-md-8 col-md-offset-2 col-xs-12">
        <h3>Upcoming Events</h3>
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="row transparentWhite topMargin" ng-repeat="event in home.eventsList|orderBy:'StartDate'">
                <event-on-home></event-on-home>
            </div>
        </div>
    </div>
</div>

<div class="verticalSpacer"></div>

<div class="row" id="stewartsPicDiv">
    <div class="col-md-8 col-md-offset-2 col-xs-12 transparentWhite">
        <p id="stewartsDesc"><span class="lead topMargin">Pastor & Mrs. Stewart</span> have served First Pentecostal Church faithfully since 1987. A dynamic communicator and teacher, Pastor Stewart has built a legacy of equipping people to live life as disciples. You will leave service inspired and ready to take on the week ahead!</p>
    </div>
    <div>

        <img class="img-center"
             id="stewartsImg"
             src="../../assets/images/Stewarts-wide.png" ,
             srcset="../../assets/images/Stewarts-wide-small.png 900w,
						../../assets/images/Stewarts-wide.png 2000w"
             sizes="100vw"
             alt="Pastor and Mrs. Stewart" />
    </div>
</div>
