
<div class="row">
	<div class="transparentWhite col-md-8 col-md-offset-2 col-xs-12">
		<div class="col-md-8 col-md-offset-2 col-xs-12">

			<h2>Welcome!</h2>

			<p>Thank you for visiting our site! We are excited that you are taking this opportunity to look around and learn more about our church. We hope that you will plan to attend services with us! Check it out and come back soon!</p>

		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-2 col-xs-12">
				<p class="bold text-center">
					Plan on attending services with us?<br />
					Sunday School: 10:00 am<br />
					Worship Service: 11:20 am<br />
					Wednesday night Bible Study: 7:30 pm
				</p>
			</div>

			<div class="col-md-4 col-md-offset-1 col-xs-12">
				<a class="link" href="https://binged.it/2sVi3xx" target="_blank">
					<p class="text-center">
						We are located at:<br />
						4805 Flat Creek Road<br />
						Oakwood, GA 30566
					</p>
				</a>
			</div>
		</div>

		<div class="verticalSpacer"></div>

		<!--<div class="row block sideMargins  july5">
			<a class="link" href="/events#Fireworks">
				<img src="assets/images/fireworks-explosion-thumb.jpg" class="thumbnail" />
			</a>
			<a class="link" href="events#Fireworks">
				<h2>Fireworks Sale</h2>
			</a>
			<p>It's that time of year again. We're selling fireworks once again! And yes, we do have the big stuff! Click <a class="link" href="events#Fireworks">here</a> for more info!</p>
		</div>-->

		<div class="verticalSpacer"></div>

		<div class="row block sideMargins">
			<a href="https://www.facebook.com/fpcoakwood/" target="blank"><img src="assets/images/facebook.png" /></a>
			Be sure to like our <a class="link" href="https://www.facebook.com/fpcoakwood/" target="blank">Facebook</a> page!
		</div>
	</div>
</div>

<div class="row">
	<div class="transparentWhite topMargin col-md-8 col-md-offset-2 col-xs-12">
		<div class="col-md-10 col-md-offset-1 col-xs-12">
			<div class="row transparentWhite topMargin" ng-repeat="event in home.eventsList|orderBy:'ExpDateTime'">
				<a href="/events#{{event.Id}}">
					<img class="thumbnail" src="../../assets/images/{{event.ThumbUrl}}" />
					<h3>{{event.Title}}</h3>
				</a>
				<p>{{event.Description}}</p>
			</div>
		</div>
	</div>
</div>

<div class="verticalSpacer"></div>

<div class="row" id="stewartsPicDiv">
	<div class="col-md-8 col-md-offset-2 col-xs-12 transparentWhite">
		<p id="stewartsDesc"><span class="lead topMargin">Pastor & Mrs. Stewart</span> have served First Pentecostal Church faithfully since 1987. A dynamic communicator and teacher, Pastor Stewart has built a legacy of equipping people to live life as disciples. You will leave service inspired and ready to take on the week ahead!</p>
	</div>
	<div>

		<img class="img-center"
				 id="stewartsImg"
				 src="../../assets/images/Stewarts-wide.png" ,
				 srcset="../../assets/images/Stewarts-wide-small.png 900w,
						../../assets/images/Stewarts-wide.png 2000w"
				 sizes="100vw"
				 alt="Pastor and Mrs. Stewart" />
	</div>
</div>
