<div ng-controller="MainMenuController">
	<nav class="navbar navbar-fixed-bottom navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-init="isNavCollapsed = true" ng-click="isNavCollapsed = !isNavCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="" ng-click="navigate('')">First Pentecostal Church</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
				<ul class="nav navbar-nav">
					<li><a ng-click="navigate('about')">About<span class="sr-only">(current)</span></a></li>
					<li><a ng-click="navigate('offerings')">What We Offer</a></li>
					<li><a ng-click="navigate('events')">Events</a></li>
					<li><a ng-click="navigate('assignments')">Ministry Assignments</a></li>
					<li><a ng-click="navigate('donate')">Donate</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://richhopkins.me" target="_blank" ng-click="navigate('rich')">©2017 Rich Hopkins</a></li>
				</ul>
			</div>
		  <!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="transparentWhite col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
				<img class="img-center"
						 src="/assets/images/FPCLogo-large.png"
						 srcset="assets/images/FPCLogo-small.png 300w,
							assets/images/FPCLogo-large.png 600w"
						 sizes="(max-width: 640px) 100vw, 67vw"
						 alt="First Pentecostal Church Logo" />
			</div>
		</div>
	</div>
</div>